<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .gradient-custom {
      /* fallback for old browsers */
      background: rgb(124, 87, 187);
      
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to bottom right,rgb(124, 87, 187),rgb(124, 87, 187));
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to bottom right,rgb(124, 87, 187),rgb(124, 87, 187))
      }
      
      .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
      }
      .card-registration .select-arrow {
      top: 13px;
      }
      img{
        width: 200px;
        height: 300px;
      }
      .photos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .one{
        margin:10px
      }

  </style>
</head>
<body>

    <%-include('./navbar')-%> 
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              
              <a href="/admin/index" style="border: 2px solid black;width:120px;height:40px; padding:2px ; background-color:rgb(24,189,91);color:white;    padding-top: 6px;
              margin: 10px" > Back To Home</a><br><br>
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"> Create A Event</h3>
              <form action="/admin/events" method="post">

             
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" name="name" />
                      <label class="form-label" for="firstName">Name of Events</label>
                    </div>
  
                  </div>
               
                </div>

             
                
  
                
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="date" id="emailAddress" class="form-control form-control-lg" name="date" placeholder="Province" />
                      <label class="form-label" for="emailAddress">Date Of Events</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="time" id="phoneNumber" class="form-control form-control-lg" name="time" />
                      <label class="form-label" for="phoneNumber">Time of Event</label>
                    </div>
  
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="text" id="emailAddress" class="form-control form-control-lg" name="place" />
                      <label class="form-label" for="emailAddress">Addres Line 1</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="text" id="phoneNumber" class="form-control form-control-lg" name="place"/>
                      <label class="form-label" for="phoneNumber">City</label>
                    </div>
  
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="text" id="emailAddress" class="form-control form-control-lg" name="place" />
                      <label class="form-label" for="emailAddress">Province</label>
                    </div>

                   
  
                  </div>


                 
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" id="birthdayDate" name="description"/>
                      <label for="birthdayDate" class="form-label">Discription</label>
                    </div>
  
                  </div>
                
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="number" class="form-control form-control-lg" id="birthdayDate" name="totalticket" />
                      <label for="birthdayDate" class="form-label">Total Number Of Tickets</label>
                    </div>
  
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
    
                      <div class="form-outline datepicker w-100">
                        <input type="number" class="form-control form-control-lg" id="birthdayDate" name="price" placeholder="$" />
                        <label for="birthdayDate" class="form-label">Price of Ticket</label>
                      </div>
    
                    </div>
                    </div>
                <!-- <div class="row">
                  <div class="col-12">
  
                    <select class="select form-control-lg" name="department">
                      <option value="1" disabled>Choose option</option>
                      <option value="Theatre Artist"> Theatre Artist </option>
                      <option value="Technology"> Technology </option>
                      <option value="Pianis"> Pianis </option>
                      <option value="Violinist"> Violinist </option>
                      <option value="Playback singer"> Playback singer </option>
                    </select>
                    <label class="form-label select-label"> Department</label>
  
                  </div>
                </div>
                
   -->
           <label for="">Select the photo</label>
                <div class="photos">
                    <div class="one">
                        <img src="/images/music1.jpg" alt="">
                        <br>
                        <input type="radio" name="photo" id="" value="/images/music1.jpg">
                    </div>
                    <div class="one">
                        <img src="/images/dance.jpg" alt="">
                        <br>
                        <input type="radio" name="photo" id="" value="/images/dance.jpg">
                    </div>
                    <div class="one">
                        <img src="/images/theatre.jpg" alt="">
                        <br>
                        <input type="radio" name="photo" id="" value="/images/theatre.jpg">
                    </div>
                </div>
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Create An Event" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>